aiohttp
fastapi
google_search_results
httpx
langchain
langchain-community
langchain-core
langchain-google-genai
langgraph
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
requests
uvicorn
gunicorn 
